@import url(base.css);
.cabecalho{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho-azul{
    background-color:var(--azul-padrao)
}
.nav-bar{
    list-style: none;
    display: flex;
}
.nav-bar__itens{
    margin-left: 20px;
}
.nav-bar__itens a{
    cursor: pointer;
    color: var(--amarelo);
    font-size: 16px;
}
.nav-bar__itens a:hover{
    color: var(--amarelo-queimado);
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .cabecalho{
        display: flex;
        justify-content: center;
    }
    .nav-bar{
        display: none;
    }
}