@import url(base.css);
*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--azul-padrao);
    font-family: 'Press Start 2P', cursive;
}
.cabecalho{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho-azul{
    background-color:var(--azul-padrao)
}
.nav-bar{
    list-style: none;
    display: flex;
}
.nav-bar__itens{
    margin-left: 20px;
}
.nav-bar__itens a{
    cursor: pointer;
    color: var(--amarelo);
    font-size: 16px;
}
.nav-bar__itens a:hover{
    color: var(--amarelo-queimado);
}
.apresentacao{
    margin-top: 100px;
    background-color: black;
    height: 100vh;
    width: 100%;
}
.bloco-apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 100vh;
}
.texto-apresentacao{
    color:var(--amarelo);
    font-size: 30px;
}
.botao-curriculo{
    color: black;
    background-color:var(--amarelo);
    padding: 15px;
    border-radius: 10px;
}
.botao-curriculo:hover{
    background-color: var(--amarelo-queimado);
}
.sobre{
    position: relative;
    padding: 10% 20%;
    height: 100vh;
}
.sobre-bloco1{
    background-color: var(--amarelo);
    width: 70%;
    height: 600px;
    padding: 50px;
    border-radius: 10px;
    border: 10px black solid;
}
.titulo-sobre{
    font-weight: bold;
    margin-bottom: 30px;
}
.sobre-bloco1 p{
    font-size: 14px;
    line-height: 25px;
}
.tecnologias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--azul-padrao);
    margin-top: 50px;
}
.tecnologias div{
    text-align: center;
    color: white;
}
.sobre-bloco2{
    position:absolute;
    right: 18%;
    top: 28%;
}
.sobre-bloco2 img{
    border-radius: 10px;
    border: 10px black solid;
}
.projetos{
    height: 100vh;
    padding-top: 7%;
    padding-bottom: 7%;
}
.container-projetos{
    display:grid;
    grid-template-columns:30% 30% 30% ;
    grid-template-rows: 500px;
    grid-gap: 70px;
    margin-bottom: 50px;
}
.titulo{
    color: var(--amarelo);
    text-align: center;
    margin-bottom: 60px;
}
.projeto-item{
    position: relative;
    background-color: var(--amarelo);
    border: 10px black solid;
    border-radius: 10px;
    padding: 15px;
}
.titulo-projetos{
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    color: black;
}
.projeto-item img{
    width: 100%;
    border-radius: 10px;
}
.projeto-item:hover{
    cursor: pointer;
    opacity: .3;
}
.repositorio{
    margin-top: 100px;
    text-align: center;
}
.btn-git{
    color: black;
    background-color: var(--amarelo);
    padding: 20px;
    border-radius: 10px;
}
.btn-git:hover{
    background-color: var(--amarelo-queimado);
}
