@import url(base.css);
.apresentacao{
    margin-top: 100px;
    background-color: black;
    height: 100vh;
    width: 100%;
}
.bloco-apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 100vh;
}
.texto-apresentacao{
    color:var(--amarelo);
    font-size: 30px;
}
.botao-curriculo{
    color: black;
    background-color:var(--amarelo);
    padding: 15px;
    border-radius: 10px;
}
.botao-curriculo:hover{
    background-color: var(--amarelo-queimado);
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .bloco-apresentacao{
        padding: 20px;
    }
    .texto-apresentacao{
        color:var(--amarelo);
        font-size: 20px;
        text-align: center;
    }
}