@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --preto:#000;
    --branco:#fff;
    --azul-padrao: #020C53;
    --amarelo: #FFCA3D;
    --azul-escuro:#020933;
    --amarelo-queimado: #886a19;
    --p2-start: 'Press Start 2P', cursive;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    background-color: var(--azul-padrao);
    font-family: var(--p2-start);
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.titulo-principal {
    font-size: 27px;
}
.titulo-amarelo {
    color: var(--amarelo);
    text-align: center;
    margin-bottom: 60px;
}
.disabilitar-links{
    pointer-events: none;
    overflow: hidden;
}
